.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px); /* Chiều cao trừ đi chiều cao navbar */
    padding-top: 80px; /* Chiều cao navbar */
}

.auth-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.auth-form h2 {
    margin-bottom: 30px;
    color: var(--main-color);
}

.auth-form .form-group {
    margin-bottom: 20px;
    text-align: left;
}

.auth-form label {
    display: block;
    margin-bottom: 5px;
    color: var(--text-color);
}

.auth-form input[type="text"],
.auth-form input[type="password"],
.auth-form input[type="email"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

.auth-form button {
    background-color: var(--main-color);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.auth-form button:hover {
    background-color: #d27b1f;
}

.auth-form .switch-form {
    margin-top: 20px;
}

.auth-form .switch-form a {
    color: var(--main-color);
    text-decoration: underline;
    cursor: pointer;
}